
<!DOCTYPE html>
<html>
<head>
    <title>Data Entry</title>
</head>
<body>
    <h1>Enter New Record</h1>

    <form method="POST">
        {% for field in fields %}
            {% if field.type != 'timestamp' %}
                <label>{{ field.label }}:</label><br>

                {% if field.type == "text" %}
                    <input type="text" name="{{ field.name }}">

                {% elif field.type == "date" %}
                    <input type="date" name="{{ field.name }}">

                {% elif field.type == "select" %}
                    <select name="{{ field.name }}">
                        {% for option in field.options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>

                {% endif %}

                <br><br>
            {% endif %}
        {% endfor %}

        <button type="submit">Confirm</button>
    </form>

    <br><br>

    <a href="/report"><button type="button">Generate Report</button></a>
</body>
</html>
        